
<div class="container show_page">
	<h1><%= @product.name %></h1>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag(@product.image_url, size: '375x500', class: 'img-thumbnail img-zoom img-responsive', data_zoom_image: @product.image_url) %>
			<br><br>
			<p>
	  			<strong>Price: </strong>
	  			$ <%= number_with_precision(@product.price, precision: 2) %>
	  		</p>
			<p>
				<strong>Average Rating: </strong>
				<span class="rated" data-score=" <%= @product.average_rating %>"></span>
			</p>
		</div>
		<div class="col-md-6">
			<p><%= @product.description %></p>
			<p><%= @product.color %></p><br><br>
			<% if signed_in? %>
				<%= render 'new_comment' %><br>
				<%= form_tag "/payments/create" do %>
					<%= render 'shared/stripe_checkout_button' %>
					<%= hidden_field_tag(:product_id, @product.id) %>
				<% end %>
			<% else %>
				<p>Please <%= link_to('login', new_user_session_path) %> to comment or purchase.</p>
			<% end %>
		</div>
	</div><!-- end row -->
	  
<br><br>
	<%= render 'comments' %>

	<div class="digg_pagination">
		<%= will_paginate @comments %>
	</div>
	
	<br><br><br>
	<% if can? :update, @product %>
		<%= link_to 'Edit', edit_product_path(@product), :class => "link_space btn btn-primary" %>
	<% end %>
	<%= link_to 'Back', products_path, :class => "btn btn-primary" %>
	<br><br><br>

	
	
</div> <!-- end container -->